/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 feb 2026, 13:11:20
    Author     : nereatrillo
*/

/* Botón procesar */
.btn-procesar, .btn-resultados{
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 12px;
    -fx-background-radius: 40px;
}

.btn-procesar:hover, .btn-resultados:hover {
    -fx-background-color: #005FCC;
}

/* Texto del porcentaje */
.label-progreso {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.label-titulo{
    -fx-font-size:18px;
    -fx-font-weight:bold;
    -fx-text-fill: #34495e;
    -fx-padding: 0 0 10 0;
}
.columnaCampo{
    -fx-font-weight:bold;
}
.columnaSalida{
    -fx-font-weight:bold;
}
/* Si quieres aplicar a TODOS los headers de tabla */
.table-view .column-header .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.root-pane {
    -fx-background-image: url("../img/Logo3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center 16%;
    -fx-background-size: contain;
}

.menu-bar {
    -fx-background-color: #ffffff;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 0 0 1 0;
}

.menu-bar .label {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
}

.menu:hover {
    -fx-background-color: #e8eef3;
}
.logo-app {
    -fx-fit-width: 80;
    -fx-fit-height: 80;
}
